@import ../../../sass-settings/_imports

.galery__right-arrow
  background-color: $background
  border: none
  background-image: url(../../../images/arrowRight.svg)
  background-repeat: no-repeat
  +wh(43px, 34px)
  margin-right: 50px

.galery__right-arrow:hover
  cursor: pointer
  opacity: .6