@import ../../../sass-settings/_imports

.promote__image
<<<<<<< HEAD
  +whs($desctop-image-weight, $desctop-image-height)
  grid-area: photo

  +tablet
    +whs($tablet-image-weight, $tablet-image-height)
    margin-top: 70px

  +mobile
    +whs($mobile-image-weight, $mobile-image-height)
    margin-top: 30px
=======
  +wh($desctop-image-weight, $desctop-image-height)

  +tablet
    +wh($tablet-image-weight, $tablet-image-height)
    // margin-bottom: 264px
    margin-top: 70px

  +mobile
    +wh($mobile-image-weight, $mobile-image-height)
    margin-top: 34px
>>>>>>> origin/revert-3-develop1
