@import ../../../sass-settings/_imports

.subscribe__button
  background-color: $text-color
  color: $background
  border: 1px solid $text-color
  font-size: 10px
  line-height: 13px
  letter-spacing: 1px

.subscribe__button:hover
  cursor: pointer